footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: black;
    
}

footer ul{
    list-style: none;
    font-size: 1.125em;
    
}

footer ul li{
    margin-bottom: 3px;
}

footer ul li a{
    text-decoration: none;
    margin-left: -40px;
    color:#0000ff;
}

footer ul li a:hover{
    color: red;
    text-decoration: underline;
}

.links{
    width: 28%;
    
}

h2, h3{
    color: white;
}

/* news letter and social */

.newsletter form input{
    outline: none;

}
.newsletter form button{
    cursor: pointer;
    background-color: #f6f6f6;
    border: 1px solid #f6f6f6;
}


.social{
    margin-top: 25px;
    display: flex;
    max-width: 150px;
    justify-content: space-between;
    
}
.social:hover{
    cursor: pointer;
}

/* copyright section */

.copyright{

    font-size: 1.125em;
    color: white;
    text-decoration: underline;

}
